
deriv_of_trig_functions/sagetex.sty

deriv_of_trig_functions/deriv_loop.vrb

deriv_of_trig_functions/deriv_loop.toc

deriv_of_trig_functions/deriv_loop.synctex.gz

deriv_of_trig_functions/deriv_loop.snm

deriv_of_trig_functions/deriv_loop.sagetex.sout

deriv_of_trig_functions/deriv_loop.sagetex.scmd

deriv_of_trig_functions/deriv_loop.sagetex.sage.py

deriv_of_trig_functions/deriv_loop.sagetex.sage

deriv_of_trig_functions/deriv_loop.out

deriv_of_trig_functions/deriv_loop.nav

deriv_of_trig_functions/deriv_loop.log

deriv_of_trig_functions/deriv_loop.aux

average_cost/.ipynb_checkpoints/Average cost and marginal cost illustration-checkpoint.ipynb

producer_and_consumer_surplus/.ipynb_checkpoints/Producer and consumer surplus illustration-checkpoint.ipynb
